body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.logo {
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
}

.menu-icon {
    cursor: pointer;
}

.menu-item {
    color: #000000;
}

.menu-item:hover {
    text-decoration: underline;
}

.main-menu .menu-item {
    padding: 0 40px;
}

.dropdown-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}

.languages, .main-menu-wrapper {
    position: relative;
}

.main-menu-button {
    display: flex;
}

.dropdown {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 40px;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item .dropdown-menu-item:active .dropdown {
   display: block;
}

.dropdown a {
    display: block;
    padding: 15px 25px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    color: inherit;
    background: #ffffff;
}
.dropdown a:hover {
    text-decoration: underline;
}
.dropdown li:not(:last-child) a {
    border-bottom: none;
}

.main-menu {
    display: none;
    position: relative;
}

.headline {
}

.headline, .header, .partner-box, .partner-box-main-head {
    padding-left: 10%;
    padding-right: 6%;
}

.title {
    font-weight: bold;
    font-size: 52px;
    line-height: 127.3%;

    letter-spacing: 0.2px;
    margin-top: 183px;
    max-width: 942px;
}

@media only screen and (min-width: 720px) {
    .menu-icon {
        display: none;
    }

    .main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1023px) {
    .title {
        font-size: 32px;
        margin-top: 100px;
    }

    .headline, .header {
        padding-left: 6%;
    }
}

@media only screen and (max-width: 719px) {
    .title {
        margin-top: 60px;
    }
}

.partner-list {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.partner-link {
    margin-right: 40px;
}

.partner-icon {
}

.partner-icon.jaguar {
    height: 38.3px;
}

.partner-icon.ringier {
    height: 33.74px;
}

.partner-icon.tatra {
    height: 46.38px;
}

.partner-icon.innovatics {
    height: 30.88px;
}

.partner-icon.zse {
    height: 20.45px;
}

.partners-more {
    white-space: nowrap;
    font-size: 17px;
    line-height: 48px;
    color: #898989;
}

.partner-box-main {
    margin-top: 50px;
}

.partner-box-main-header {
    font-weight: bold;
    font-size: 24.3573px;
    line-height: 36px;
    margin: 0;
    margin-top: 40px;
}

.partner-box-main-subheader {
    font-weight: 600;
    font-size: 11.3667px;
    line-height: 14px;
    margin: 0;
    margin-top: 11.35px;
    color: #848484;
}

.partner-box-main-subheader a {
    color: #000000;
}

.partner-box-main-image {
    width: 100%;
    height: auto;
}

.partner-box-duo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.partner-box {
    margin-top: 100px;
}

.partner-box:first-child {
    padding-right: 0;
}

.partner-box:last-child {
    margin-top: 200px;
}

.partner-box img {
    width: 645px;
    margin-left: -110px;
}

@media only screen and (max-width: 1450px) {
    .partner-box img {
        width: 545px;
        margin-left: -90px;
    }
}

@media only screen and (max-width: 1250px) {
    .partner-box img {
        width: 445px;
        margin-left: -70px;
    }
}

@media only screen and (max-width: 1080px) {
    .partner-box img {
        width: 345px;
        margin-left: -50px;
    }
}

.partner-box-header {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    margin: 0;
    margin-top: 35px;
}

.partner-box-subheader {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
    margin: 0;
    margin-top: 10px;
}

.partner-box-subheader a {
    color: #000000;
}

.additional-partners {
    margin-top: 100px;
    background: #F8F8F8;
}

.additional-partners .partner-box-main {
    margin-top: 0;
}

.more-work {
    width: 268px;
    height: 83px;
    border: 1.15385px solid #000000;
    box-sizing: border-box;
    background: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 140px;
}

.more-work:hover {
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.21);
}

.footer {
    padding: 140px 30px;
}

.quotes {
    max-width: 750px;
    margin: auto;
}

.quote {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #303030;
    min-height: 120px;
}

.quote-about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.quote-about-details {
    margin-left: 20px;
}

.quote-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quote-list li:first-child {
    opacity: 1;
    display: block;
}

.quote-list li {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.quote-avatar {
    min-width: 71px;
    min-height: 71px;
    box-shadow: 1.01538px 1.69231px 3.38462px rgba(0, 0, 0, 0.25);
    border-radius: 39.75px;
}

.quote-avatar.lintner {
    background: url(../images/lintner.png) 100% 100% no-repeat;
    background-position: 39% 10%;
}

.quote-avatar.socrates {
    background: url(../images/socrates.jpg) 43% 37% no-repeat;
    background-size: cover;
}

.quote-avatar.hoffman {
    background: url(../images/hoffman.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.quote-avatar.dorsey {
    background: url(../images/dorsey.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.quote-name {
    font-size: 20px;
    line-height: 24px;
}

.quote-role {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.69929px;
    text-transform: uppercase;
    color: #747474;
}

.quote-progress {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.quote-progress-bar {
    width: 70%;
    background: rgba(0, 0, 0, 0.14);
    height: 1px;
    margin-right: 40px;
}

.quote-progress-bar .progress {
    background: #000000;
    width: 0;
    height: 100%;
}

.quote-buttons {
    white-space: nowrap;
}

.quote-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 3px 8px;
    margin: 0px 4px;
    border-radius: 7px;
    height: 27px;
    vertical-align: middle;
}

.quote-button:hover {
    background: #f1f1f1;
}

.quote-button:active {
    background: #e9e9e9;
}

.quote-arrow {
    width: 20px;
    height: 20px;
}



@media only screen and (max-width: 880px) {
    .partner-box img {
        width: 100%;
        margin-left: 0;
    }

    .partner-box {
        padding-left: 6%;
        padding-right: 6%;
        margin-top: 80px;
    }

    .partner-box:first-child {
        padding-right: 6%;
    }

    .partner-box:last-child {
        margin-top: 80px;
    }

    .more-work {
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .footer {
        padding: 50px 30px;
    }
    .quote {
        font-size: 19px;
        line-height: 28px;
        min-height: 84px;
    }
    .quote-avatar {
        min-width: 51px;
        min-height: 51px;
    }
}